@model ZDSoft.TES.Domain.Users
@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
</head>
<script type="text/javascript">
    function qiangdu() {
        var a = document.getElementById("newPassword").value.length;
        if (a < 6) {
            document.getElementById("img1").style.backgroundImage = "url(../../Content/images/1.png)";
            document.getElementById("img2").style.backgroundImage = "url(../../Content/images/2.png)";
            document.getElementById("img3").style.backgroundImage = "url(../../Content/images/3.png)";
        }
        else if (a > 5 && a <= 8) {
            document.getElementById("img1").style.backgroundImage = "url(../../Content/images/11.png)";
            document.getElementById("img2").style.backgroundImage = "url(../../Content/images/2.png)";
            document.getElementById("img3").style.backgroundImage = "url(../../Content/images/1.png)";
        }

        else if (a > 8 && a <= 10) {
            document.getElementById("img1").style.backgroundImage = "url(../../Content/images/11.png)";
            document.getElementById("img2").style.backgroundImage = "url(../../Content/images/22.png)";
            document.getElementById("img3").style.backgroundImage = "url(../../Content/images/3.png)";
        }
        else if (a > 10) {
            document.getElementById("img1").style.backgroundImage = "url(../../Content/images/11.png)";
            document.getElementById("img2").style.backgroundImage = "url(../../Content/images/22.png)";
            document.getElementById("img3").style.backgroundImage = "url(../../Content/images/33.png)";
        }
    }

    function xianshi(x) {
        var getdiv = document.getElementById("tishi").getElementsByTagName("div");
        getdiv.item(jishu).style.visibility = "hidden";
        getdiv.item(x).style.visibility = "visible";
        jishu = x;
    }
    var jishu = 0;

    function tijiao() {
        var oldp = document.getElementById("oldPassword").value;
        var newp = document.getElementById("newPassword").value;
        var realnewp = document.getElementById("queryPassword").value;
        if (newp.length < 6) {
            document.getElementById("yanz").innerHTML = "密码不能少于6位数";
        }
        else if (newp != realnewp) {
            document.getElementById("yanz").innerHTML = "新密码和确新认密码不一样";
        }

    }
</script>
<body>
    <form class="myform" method="post">
    <div style="margin: 0 auto; margin-top: 50px; margin-left: 35%; width: 670px; height: 420px;">
        <div id="big" style="border: 1px solid #99C; background-color: #E7E3EA; width: 350px;
            height: 420px; float: left;">
            <div style="background-image: url(../../Content/images/top.png); height: 60px; margin: 0 auto;
                border: 1px solid #CCC;">
                <h2 style="text-align: center; margin-top: 13px">
                    修改密码</h2>
            </div>
            <div style="margin: 0 auto; margin-top: 13px; width: 300px; height: 50px; border: 1px solid #000;
                border-radius: 25px;">
                <input style="margin-left: 15px; margin-top: 7px; border: 0px solid #000; width: 260px;
                    height: 33px; font-size: 27px; background-color: #E7E3EA" type="password" placeholder="原密码"
                    name="oldPassword" id="oldPassword" onclick="xianshi(0)" />
            </div>
            </br>
            <div style="margin: 0 auto; text-align: center; width: 300px; height: 50px; border: 1px solid #000;
                border-radius: 25px;">
                <input style="margin-left: 15px; margin-top: 7px; border: 0px solid #000; width: 260px;
                    height: 33px; font-size: 27px; background-color: #E7E3EA" type="password" placeholder="新密码"
                    name="newPassword" id="newPassword" onkeydown="qiangdu()" onclick="xianshi(1)" />
            </div>
            </br>
            <div style="margin: 0 auto; text-align: center; width: 300px; height: 50px; border: 1px solid #000;
                border-radius: 25px;">
                <input style="margin-left: 15px; margin-top: 7px; border: 0px solid #000; width: 260px;
                    height: 33px; font-size: 27px; background-color: #E7E3EA" type="password" placeholder="确认新密码"
                    id="queryPassword" name="queryPassword" onclick="xianshi(2)" />
            </div>
            <div style="margin: 0 auto; margin-top: 5px; text-align: center; height: 20px;" id="yanz">
            </div>
            </br>
            <div style="margin: 0 auto; text-align: center; width: 210px; height: 25px;">
                <div style="background-image: url(../../Content/images/1.png); width: 70px; height: 25px;
                    float: left;" id="img1">
                </div>
                <div style="background-image: url(../../Content/images/2.png); width: 70px; height: 25px;
                    float: left;" id="img2">
                </div>
                <div style="background-image: url(../../Content/images/3.png); width: 70px; height: 25px;
                    float: left;" id="img3">
                </div>
            </div>
            </br>
            <div style="margin: 0 auto; text-align: center; width: 100px; height: 40px; border: 1px solid #000;
                border-radius: 25px; background-color: #E9E9E9">
                <input style="margin-left: 3px; margin-top: 5px; border: 0px solid #000; width: 77px;
                    height: 30px; font-size: 27px; background-color: #E9E9E9;" type="submit" value="保存"
                    id="save" onclick="tijiao()" />
            </div>
        </div>
    </form>
    <!--验证-->
    <div id="tishi" style="height: 410px; width: 300px; float: right;">
        <div style="font-family: YouYuan; visibility: hidden; margin: 0 auto; width: 300px;
            height: 50px; margin-top: 90px; color: Red;" id="ts1">
            请输入原密码
        </div>
        </br>
        <div style="visibility: hidden; margin: 0 auto; width: 300px; height: 50px; margin-top: 3px;
            color: Red;" id="ts2">
            密码最少3位
        </div>
        </br>
        <div style="visibility: hidden; margin: 0 auto; width: 300px; height: 50px; margin-top: 3px;
            color: Red;" id="ts3">
            确定密码吗?
        </div>
    </div>
    </div>
</body>
</html>
