@using ZDSoft.TES.Web.Apps
@model ZDSoft.TES.Web.Apps.PageList<ZDSoft.TES.Domain.Student>
@{
    Layout = null;
    
    }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
 .name{ display:block; width:33%; height:30px; float:left; border:1px solid #000;text-align:center;}
 .number{ display:block; width:33%; height:30px;float:left; border:1px solid #000;text-align:center;}
 .classnum{ display:block; width:33%; height:30px;float:left; border:1px solid #000;text-align:center;}

</style>
</head>
<body>
<div>
<span class="name">学生姓名</span>
<span class="number">班级</span>
<span class="classnum">学号</span>
@foreach (ZDSoft.TES.Domain.Student stu in Model) 
{ 
     <a class="name" href="#" target="_blank">@stu.Name</a>
     <a class="classnum" href="#"  target="_blank">@stu.Classes.Name</a>  
     <span class="number">@stu.No</span>
}
</div>
 <div class="pager">
    @Html.Raw(Html.Pager(Model.PageIndex, Model.PageSize, Model.TotalCount, Model.PageIndex))
</div>
</body>
 </html>